.header-box, .footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    border: none;
}

.cta-img {
    background-color: grey;
}

h2 {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.card {
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.quote-box {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}